<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Home in airbnb</title>
</head>

<body style="background-color: black; color: white;">
  <header></header>
  <main>
    <h1>Register your home here</h1>
    <form action="/host/add-home" method="POST">
      <input type="text" name="houseName" placeholder="Enter your home" />
      <input type="submit" />
    </form>
  </main>
  <footer></footer>

</body>

</html>